<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    
    <link rel="stylesheet" href="/stylesheets/product.css">
    <link rel="stylesheet" href="/stylesheets/header.css">

    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


</head>
<body>
    
    <%- include('header2.ejs') -%>

    <div class="page-link">
        <a href="/"> Home> </a>
        <a href="/shop"> shop> </a>
        <a href="#">product></a>
    </div>
    <div class="product">
        <!-- left-box -->
        <div class="p-left-box">
            <section id="gallery">
                <div class="container">
                <div id="image-gallery">

                    <div class="row">
                    <div class="image">
                        <div class="img-wrapper">
                        <a href="/images/<%= products[0].img_1%>"><img src="/images/<%= products[0].img_1 %>" class="img-responsive"></a>
                        <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </div>
                        </div>
                    </div>
                    <div class="image">
                        <div class="img-wrapper">
                        <a href="/images/<%= products[0].img_2 %>"><img src="/images/<%= products[0].img_2 %>" class="img-responsive"></a>
                        <div class="img-overlay">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </div>
                        </div>
                    </div>
                    </div><!-- End row -->
                </div><!-- End image gallery -->
                </div><!-- End container --> 
            </section>
            
        </div>
        <!-- right-box -->
        
        <form action="/addCart" id="formId" method="post">
         </form>
        <div class="p-right-box">
            <!-- title-box -->
            <div class="title-box">
                
                <input type="hidden" form="formId" value="<%= products[0].shop_id %>"  name="shop_id"  >

               
                <h2><%= products[0].name %></h2>
                <h3><%= products[0].description %></h3>
            </div>
            <!-- price-box -->
            <div class="price-box">
                <div class="mrp-price">
                  

                    <h3>Rs <%= results1[0].price %></h3>
                    <h4>MRP <span class="mrp">Rs <%= results1[0].mrp %></span></h4>
                    <h3 class="off" >(Rs. 499 OFF)</h3>
                </div>

                <h5>inclusive of all taxes</h5>

                <!-- size-box -->
                <div class="select-size">
                 <h4>SELECT SIZE (Age Group)</h4>
                 <a href="">SIZE CHART <i class="ri-arrow-right-s-line"></i>
                 </a>
                </div>
                <div class="size-box">
                    <% for(var i = 0; i< sizeNames.length; i++){ %>
                    <label class="btn btn-light  size-btn">
                        <input onclick="" type="radio" form="formId" class="size-radio" id="size_s" name="size" value="<%= sizeNames[i].variantName %>" <%= i === 0 ? 'checked' : '' %> hidden>
                        <div class="size-circle">
                            <p><%= sizeNames[i].variantName %></p>
                            <p>Rs- <%= sizeNames[i].price %></p>
                        </div>
                    </label>
                    <%}%>
                </div>
<!-- quantity -->
            
                <div class="qty">
                        <button onclick="dec()" class="qtyminus" aria-hidden="true">&minus;</button>
                        <input type="number" form="formId" name="quantity" id="qty" min="1" max="" step="1" value="1">
                        <button class="qtyplus123" aria-hidden="true" onclick="inc()">&plus;</button >
                </div>

                <!-- payment-box -->
                <div class="payment-box">

                   <div class="pyt-btn">
                    <i class="ri-shopping-bag-line"></i>
                    <button form="formId"  type="submit">Add Cart</button>
                   </div>

                    
                    
                </div>
            </div>

            <!-- 4 line text -->
            <div class="text">
                <h5>100% Original Products</h5>
                <h5>Pay on delivery might be available</h5>
                <h5>Easy 14 days returns and exchanges</h5>
                <h5>Try & Buy might be available</h5>
            </div>
            <div class="product-details">
                <h4>PRODUCT DETAILS</h4>
                <h5>Yellow T-shirt for boys</h5>
                <h5>Solid</h5>
                <h5>Regular length</h5>
                <h5>Round neck</h5>
                <h5>Short, regular sleeves</h5>
                <h5>Knitted cotton fabric</h5>
            </div>
            <div class="product-details">
                <h4>Size & Fit</h4>
                <h5>Regular Fits</h5>
            </div>
            <div class="product-details">
                <h4>Material & Care</h4>
                <h5>Cotton</h5>
                <h5>Machine wash</h5>
            </div>

         
            <!-- Product Code -->
            <div class="product-code">
            <h4><span class="product-text">Product Code:</span> 12345268</h4>
            </div>
        </div>
  
    </div>

    <!-- _____item-box html code________ -->
    <div class="item-box">
        <% for(var i = 0; i< itemCart.length; i++){ %>
       <a href="/product/<%= itemCart[i].shop_id %>">     
        <div class="item">
            <div class="img">
                <img src="/images/<%= itemCart[i].img_1 %>" alt="">
            </div>
            <div class="img-text">
                <h3><%= itemCart[i].name %></h3>
                <p><%= itemCart[i].description %> </p>
                <div class="mrp-price">
                    <!-- <%# for(var j = 0; j < itemCart[i].price.length; j++) { %> -->
                        <h3>Rs <%= itemCart[0].price[0].price %></h3>
                        <h4>MRP <span class="mrp">Rs- <%= itemCart[0].price[0].mrp %></span></h4>
                   <!-- <%# } %> -->

                <h3 class="off" >(Rs. 499 OFF)</h3>
            </div>
            </div>
        </div>
    </a>
        <%}%>
    </div>
    <%- include('footer.ejs') -%>

    <script src="/javascripts/product.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        // Handle variant selection change event
        $('.size-radio').change(function(){
            // Get the selected variant
            var selectedVariant = $(this).val();
            
            // Make an AJAX request to fetch the price for the selected variant
            $.ajax({
                url: '/getPriceForVariant', // Update the URL to your endpoint that returns the price for the selected variant
                type: 'POST',
                data: { variant: selectedVariant },
                success: function(response){
                    // Update the price and MRP elements with the fetched price
                    $('#price').text('Rs ' + response.price);
                    $('#mrp').text('Rs ' + response.mrp);
                },
                error: function(xhr, status, error){
                    console.error('Error fetching price:', error);
                    // Handle the error
                }
            });
        });
    });
</script>

</body>
</html>